<div class="card text-center">
  Bonjour user.pseudo
  <br />
  <br />
  Une nouvelle recette est disponible sur Marine's recipes :
  <br />
  <h3>decodeURI(decodeURIComponent(recette.nomRecette))</h3>
  <br />
  <br />
  <img src="cid:uniq-mailtrap.png" />
  <br />
  <br />
  decodeURI(decodeURIComponent(recette.mot))
  <br />
  <br />
  <a
    href=" +
    link +
    "
    class="btn btn-primary"
    >Découvrir la recette
  </a>
  <br />
  <br />
  Bonne journée,
  <br />
  <br />
  Marine.
</div>
